<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>光熱費水道代グラフ</title>
</head>
<body>
    <div id="element1">
        <img src="{{ url_for('main_plot') }}" alt="Image">
    </div>
    <div id="element2">
        <p>詳細を見る</p>
        <ul>
                {% for expense_id, expense_type in expenses %}
                <li><a href="{{ url_for('expense', expense_id=expense_id) }}">{{ expense_type }}</a></li>
                {% endfor %}
        </ul>
    </div>
</body>
</html>
